* {
	box-sizing: border-box;
	margin-top: 0px;

}

body,
html {
	width: 100%;
	height: 100%;
}

body {
	background-color: #fff;
	color: #333;
	margin: 0px;
	padding: 50px 0 0 0;
	font-family: sans-serif;
}


/* ========= content width: this centers content inside their parent element */
.content-width {
	position: relative;
	width: 90%;
	max-width: 1400px;
	margin: 0px auto;
	padding: 10px;
	/* temporary border so you can see the zones in action */
	border: 1px dotted rgba(0, 0, 0, 0.15);
}

/* ========= header */
header {
	/* border-top: 1px solid black; */
}

/* ========= main sections  */
section {
	background-color: rgba(200, 200, 200, 1);
	min-height: 80%;
}

/* .sec_10 {
} */
section#sec_20 {
	background-color: rgba(180, 180, 180, 1);
}

section#sec_40 {
	background-color: rgba(180, 180, 180, 1);
}

/* ========= footer  */
footer {
	background-color: rgba(20, 30, 40, 1);
}